.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-first {
    background-color: #10BBD5;
    height: 40px;
    padding: 16px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-book {
    display: flex;
    align-items: center;
}

.logo-book img {
    margin-right: 4px;
}

.logo-book span {
    font-weight: 700;
}

.cart-section {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-section a{
    text-decoration: none;
}

.cart-item-count {
    color: black;
    right: 8px;
    bottom: 10px;
    position: absolute;
    z-index: 1;
}

.cart-price {
    margin-right: 8px;
}

.cart-btn {
    position: relative;
    bottom: 2px;
}

.cart-img {
    width: 33px;
    height: 21px;
    background-image: url(../images/cart.png);
    background-position: center;
    background-repeat: no-repeat;

}

.cart-wheels {
    display: flex;
    justify-content: center;
}

.cart-wheels div {
    height: 8px;
    width: 8px;
}

.first-wheel {
    background-image: url(../images/wheel.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 2px;
    top: 3px;
}

.second-wheel {
    background-image: url(../images/wheel.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 4px;
    top: 3px;
}

.cart-item-count {
    position: absolute;
    top: 5px;
    left: 14px;
}

.usefull-btns {
    height: 24px;
    padding: 4px 52px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.btns-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-list__item {
    margin-right: 40px;
}

.btns-list__item a{
    text-decoration: none;
    color: #000;
}

.btns-list__item:last-child {
    margin-right: 0;
}
